.plant-table {
  width: 100%;
  border: 2px solid darkgreen;
  border-radius: 25px;
}

.plant-table thead, .plant-table tr {
  border-bottom: 2px solid darkgreen;
}

.plant-table td, .plant-table th {
  border-left: 2px solid darkgreen;
  text-align: center;
}

.plant-table img {
  width: 200px;
  border-radius: 25px;
}