body {
  font-family: monospace;
  text-align: center;
}

.plant-table {
  width: 100%;
  border: 2px solid darkgreen;
  border-radius: 3px;
}

.plant-table thead, .plant-table tr {
  border-bottom: 2px solid darkgreen;
}

.plant-table td, .plant-table th {
  border: 2px solid darkgreen;
  border-radius: 5px;
  text-align: center;
}

.plant-table img {
  width: 200px;
  border-radius: 5px;
}