.plantCard {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    height: 400px;
    border: 2px solid darkgreen;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.cardImg img {
    max-width: 200px;
    width: 100%;
}

.cardTitle {
    font-family: monospace;
    font-size: 18px;
}

.cardInfo {
    font-family: monospace;
    font-size: 14px;
}

.easy {
    top: 12.5px;
    position: absolute;
    z-index: 10;
    left: 5px;
}